@{
	ViewData["Title"] = "Noch in Abreit";
}



<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<h2>Wir arbeiten daran! <span class="glyphicon glyphicon-thumbs-up"></span></h2>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<p>Wir arbeiten mit hochdruck daran, dass auch dieser bereich so bald wie m&ouml;glich zur Verf&uuml;gung steht. Bis dahin bitten wir noch um etwas Geduld. Wir w&auml;re es, eine Runde auf dem alten Fahrrad zu drehen und es danach noch mal zu probieren?</p>
		<p>Dein Team von der Fahrraddatenbank.</p>
	</div>
</div>