@model de.strewi.web.Models.BearingShellViewModels.CreateBearingShellViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>View</h2>

<form asp-action="View">
    <div class="form-horizontal">
        <h4>BearingShell</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CrankHoleDiameter" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CrankHoleDiameter" class="form-control" />
                <span asp-validation-for="CrankHoleDiameter" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedAt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedByID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CreatedByID" class ="form-control" asp-items="ViewBag.CreatedByID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Depth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Depth" class="form-control" />
                <span asp-validation-for="Depth" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.EditorFor(m => m.ImageUpload)
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InnerDiameter" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InnerDiameter" class="form-control" />
                <span asp-validation-for="InnerDiameter" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsThreaded" />
                    <label asp-for="IsThreaded"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ManufactureId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ManufactureId" class ="form-control" asp-items="ViewBag.ManufactureId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedAt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedAt" class="form-control" />
                <span asp-validation-for="ModifiedAt" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedByID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ModifiedByID" class ="form-control" asp-items="ViewBag.ModifiedByID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OuterDiamteter" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OuterDiamteter" class="form-control" />
                <span asp-validation-for="OuterDiamteter" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Position" class="form-control"></select>
                <span asp-validation-for="Position" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Side" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Side" class="form-control" />
                <span asp-validation-for="Side" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
