<label class="btn btn-default btn-file">
	Browse @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue.ToString(), new { type = "file", @class = "form-control", style = "display: none;" })
</label>